/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  /* Hero Section */
  .hero {
    background: linear-gradient(135deg, #7591b1, #466157);
    color: white;
    text-align: center;
    padding-bottom: 60px;
  }

  .logo img{
    display: flex;
    justify-content: flex-start;
    max-width: 200px; 
    height: auto; 
    cursor: pointer;
    padding: 0;
    margin: 15px 15px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 1%;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: baseline;
      
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .hero-content {
    margin-top: 50px;
    padding: 7% 0% 10%;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
  }
  
  .hero-content p {
    margin: 20px 0;
  }
  
  .cta {
    background-color: #fff;
    color: #4a90e2;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Features Section */
  .features {
    text-align: center;
    padding: 50px 20px;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .card a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
  }
  
  /* How It Works Section */
  .how-it-works {
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .step {
    text-align: center;
    padding: 20px;
  }
  
  .step span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #4a90e2;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
  }

  /* Login and Signup*/
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-btn {
    background-color: #fff;
    color: #4a90e2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-btn:hover, .signup-btn:hover {
    background-color: #f0f0f0;
  }
  